{% extends "point_of_care/base.html" %}

{% block title %}<title>Point of Care | Intervention List</title>{% endblock %}

{% block content %}
  <h2>Intervention List</h2>
  <div class="jumbotron">{% if intervention_list %}
  <ul>
    {% for intervention in intervention_list %}
      <li>
        <a href="{{ intervention.get_absolute_url }}">{{ intervention }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no interventions in the database.</p>
  {% endif %}
  {% if perms.cm_portal.add_intervention %}
    <a class="btn btn-primary" href="{% url 'intervention-create' %}" role="button">Add intervention</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="#" role="button">Add intervention</a>
  {% endif %}
  </div>  
{% endblock %}

{% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
      {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
       <span class="page-current">
         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
       </span>
       {% if page_obj.has_next %}
         <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
       {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %} 