{% extends "point_of_care/base.html" %}

{% block title %}<title>Point of Care | Resident List</title>{% endblock %}

{% block content %}
  <h2>Resident List</h2>
  <div class="jumbotron">{% if resident_list %}
  <ul>
    {% for resident in resident_list %}
      <li>
        <a href="{{ resident.get_absolute_url }}">{{ resident }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no residents in the database.</p>
  {% endif %}
  {% if perms.cm_portal.add_resident %}
    <a class="btn btn-primary" href="{% url 'resident-create' %}" role="button">Add resident</a>
  {% else %} 
    <a class="btn btn-primary disabled" href="#" role="button">Add resident</a>
  {% endif %}
  </div>
{% endblock %}

{% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
      {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
       <span class="page-current">
         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
       </span>
       {% if page_obj.has_next %}
         <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
       {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %} 